H1 User Competency (Rasch Model)

In [1]:
import pandas as pd
import pickle
from scipy import stats
import numpy as np
import seaborn as sns
import pingouin as pg
import statsmodels.formula.api as s

c:\Python310\lib\site-packages\outdated\utils.py:14: OutdatedPackageWarning: The package outdated is out of date. Your version is 0.2.1, the latest is 0.2.2.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(

In [2]:
#import
df = pickle.load(open( '../00_data/cleaned/sitzungssummary.pkl','rb') )
xmlsaetze = pickle.load(open( '../00_data/cleaned/xmlsaetze.pkl','rb') )

xmlsaetze = xmlsaetze[xmlsaetze.Testposition=='pruefung']

rasch = xmlsaetze[['UserID','SatzID','Erfolg','Datum']]

rasch['UserID'].astype(str)
rasch['SatzID'].astype(str)

72780         4094
72783         4076
72786         4097
72791         4100
72798          375
            ...
4980982    9991771
4980985    9991774
4981000    9991774
4981002    9991777
4981005    9991780
Name: SatzID, Length: 423426, dtype: object

In [7]:
test = rasch.groupby(['UserID','SatzID']).agg({'Erfolg':np.median})
test = test.reset_index()

def aufrunden(row):
    if row['Erfolg'] >= 0.5:
        return 1
    elif row['Erfolg'] <0.5:
        return 0

test['Erfolg']= test.apply (lambda row: aufrunden(row), axis=1)

test

         UserID  SatzID  Erfolg
0        186923     873       1
1        186923     878       1
2        186923     882       0
3        186923     888       1
4        186923     891       1
...         ...     ...     ...
330819  1064116    4085       1
330820  1064116    4088       1
330821  1064116    4094       1
330822  1064116    4097       1
330823  1064116    4100       1

[330824 rows x 3 columns]

In [8]:
rasch = test.pivot_table(values='Erfolg', index=test.UserID, columns='SatzID', aggfunc='last')
rasch

SatzID,127,128,129,130,131,132,133,134,135,136,...,9992992,9992993,9992994,9992995,9992996,9992997,9992998,9992999,9993000,9993001
UserID,,,,,,,,,,,,,,,,,,,,,
186923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
409463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1063461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1063470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1063762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1063918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1064116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
#Subjects with only 1 valid response must be removed

In [14]:
delete_li = []
for col in rasch:
    cnt = rasch[col].count()
    if cnt < 2:
        delete_li.append(col)

In [12]:
rasch = rasch.drop(columns=[373 ,382 ,385 ,3896 ,3897 ,3900 ,3901 ,3905 ,3906 ,3910 ,3911 ,3913 ,3916 ,3924 ,3931 ,3936 ,3940 ,3941 ,3948 ,3965 ,4075 ,9991305 ,9991693 ,9991703 ,9991705 ,9991706 ,9991710 ,9991711 ,9991712 ,9991713 ,9991714 ,9991715 ,9991718 ,9991719 ,9991751 ,9991763 ,9991775 ,9991777 ,9991780 ,9991877 ,9991878 ,9991880 ,9991882 ,9991891 ,9991892 ,9991893 ,9991896 ,9991898 ,9992081 ,9992082 ,9992084 ,9992085 ,9992088 ,9992090 ,9992091 ,9992092 ,9992093 ,9992094 ,9992095 ,9992097 ,9992098 ,9992100 ,9992101 ,9992102 ,9992103 ,9992105 ,9992107 ,9992108 ,9992229 ,9992232 ,9992235 ,9992236 ,9992240 ,9992241 ,9992250 ,9992251 ,9992264])

In [15]:
delete_li = []
for index, row in rasch.iterrows():
    cnt = row.count()
    if cnt < 2:
        delete_li.append(index)
        rasch = rasch.drop([index])

rasch

SatzID,127,128,129,130,131,132,133,134,135,136,...,9992992,9992993,9992994,9992995,9992996,9992997,9992998,9992999,9993000,9993001
UserID,,,,,,,,,,,,,,,,,,,,,
186923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
452752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1063461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1063470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1063762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1063918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1064116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
rasch.to_csv('learning_data.csv')