In [1]:
import pandas as pd
import pickle
from scipy import stats
import pandas as pd
import seaborn as sns
import pingouin as pg
import statsmodels.formula.api as s
import numpy as np

In [2]:
final = pickle.load(open( '../00_data/final/dropout_per_session.pkl','rb') )

final['interventiongroup'] = np.where((final.interventiongroup == 6),'6',final.interventiongroup)
final['interventiongroup'] = np.where((final.interventiongroup == '0'),'control',final.interventiongroup)

intvcontrol = final[(final['interventiongroup']=='control')]
intv2 = final[(final['interventiongroup']=='2')]
intv3 = final[(final['interventiongroup']=='3')]
intv4 = final[(final['interventiongroup']=='4')]
intv5 = final[(final['interventiongroup']=='5')]
intv6 = final[(final['interventiongroup']=='6')]

In [3]:
final

       UebungsID interventiongroup Geschlecht Klassenstufe   UserID  dropout
0       29905708                 5          m            9   933218      0.0
1       29896434                 5          w           10   958267      0.0
2       29896436                 5          w           10   958267      0.0
3       29896435                 5          w           10   958267      0.0
4       29896437                 5          w           10   958267      0.0
...          ...               ...        ...          ...      ...      ...
42142   30716884                 6          m           11  1064116      0.0
42143   30716885                 6          m           11  1064116      0.0
42144   30716886                 6          m           11  1064116      0.0
42145   30716887                 6          m           11  1064116      0.0
42146   30716832                 2          w           13   930796      0.0

[38222 rows x 6 columns]

Check Assumptions

In [5]:
# Levenes homogeneity => homogeneity = not significant // significant = no homogeneity 
stats.levene(intvcontrol['dropout'], intv2['dropout'], intv3['dropout'], intv4['dropout'], intv5['dropout'], intv6['dropout'])

LeveneResult(statistic=17.940767785264246, pvalue=8.144716978551879e-18)

In [6]:
# Shapiro-Wilk test for normality => normality = not significant // significant = no normality 
print(stats.shapiro(intvcontrol['dropout']))
print(stats.shapiro(intv2['dropout']))
print(stats.shapiro(intv3['dropout']))
print(stats.shapiro(intv4['dropout']))
print(stats.shapiro(intv5['dropout']))
print(stats.shapiro(intv6['dropout']))

ShapiroResult(statistic=0.384666383266449, pvalue=0.0)
ShapiroResult(statistic=0.4124665856361389, pvalue=0.0)
ShapiroResult(statistic=0.4336346983909607, pvalue=0.0)
ShapiroResult(statistic=0.4151875376701355, pvalue=0.0)
ShapiroResult(statistic=0.43334531784057617, pvalue=0.0)
ShapiroResult(statistic=0.3588818311691284, pvalue=0.0)

C:\Users\Nathalie\AppData\Roaming\Python\Python310\site-packages\scipy\stats\morestats.py:1760: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

Uebersicht Effektgroeßen

In [7]:
dropout_by_group = final.groupby(['interventiongroup']).agg({'dropout':'mean','Geschlecht':'count'})
dropout_by_group = dropout_by_group.rename(columns={'Geschlecht':'count'})
dropout_by_group

                    dropout  count
interventiongroup
2                  0.140672   5950
3                  0.155095   6222
4                  0.142457   6072
5                  0.154893   5733
6                  0.108780   6196
control            0.123369   8049

In [8]:
dropout_by_group = final.groupby(['Geschlecht','interventiongroup']).agg({'dropout':'mean','Klassenstufe':'count'})
dropout_by_group = dropout_by_group.rename(columns={'Klassenstufe':'count'})
dropout_by_group

                               dropout  count
Geschlecht interventiongroup
d          2                  0.145833    144
           3                  0.151899    158
           4                  0.138462    130
           5                  0.180233    172
           6                  0.084906    212
           control            0.138655    238
m          2                  0.155565   2462
           3                  0.163880   2691
           4                  0.155073   2947
           5                  0.156072   2627
           6                  0.111272   2759
           control            0.118328   3541
w          2                  0.129486   3344
           3                  0.148236   3373
           4                  0.130217   2995
           5                  0.152352   2934
           6                  0.108217   3225
           control            0.126698   4270

In [9]:
dropout_by_group = final.groupby(['Klassenstufe','interventiongroup']).agg({'dropout':'mean','Geschlecht':'count'})
dropout_by_group = dropout_by_group.rename(columns={'Geschlecht':'count'})

dropout_by_group

                                 dropout  count
Klassenstufe interventiongroup
10           2                  0.102790    681
             3                  0.107923    732
             4                  0.139800    701
             5                  0.143847    577
             6                  0.092414    725
             control            0.089977    878
11           2                  0.089347    582
             3                  0.120075    533
             4                  0.081081    518
             5                  0.098655    446
             6                  0.057336    593
             control            0.082729    689
12           2                  0.101562    256
             3                  0.098655    223
             4                  0.077273    220
             5                  0.152738    347
             6                  0.066390    241
             control            0.072165    291
13           2                  0.120301    133
             3                  0.066265    166
             4                  0.056962    158
             5                  0.134228    149
             6                  0.023474    213
             control            0.050000    220
5            2                  0.155093    432
             3                  0.184275    407
             4                  0.202312    519
             5                  0.161039    385
             6                  0.109504    484
             control            0.153571    560
6            2                  0.202429    741
             3                  0.180575    731
             4                  0.142020    683
             5                  0.205634    710
             6                  0.139344    732
             control            0.139762    923
7            2                  0.171429    770
             3                  0.192825    892
             4                  0.190746   1059
             5                  0.195297    978
             6                  0.154630   1080
             control            0.172242   1405
8            2                  0.143872   1126
             3                  0.163477   1254
             4                  0.132812   1280
             5                  0.137577    974
             6                  0.110827   1173
             control            0.122360   1610
9            2                  0.131814   1229
             3                  0.159657   1284
             4                  0.133833    934
             5                  0.132819   1167
             6                  0.104712    955
             control            0.116090   1473

Alle Daten

In [10]:
# Kruskal Wallis Test
stats.kruskal(intvcontrol['dropout'], intv2['dropout'], intv3['dropout'],intv4['dropout'],intv5['dropout'],intv6['dropout'])

KruskalResult(statistic=89.50548048975405, pvalue=8.534902683729292e-18)

In [11]:
#Wilcoxon Mann Whitney Test
print(stats.mannwhitneyu(intvcontrol['dropout'], intv2['dropout']))
print(stats.mannwhitneyu(intvcontrol['dropout'], intv3['dropout']))
print(stats.mannwhitneyu(intvcontrol['dropout'], intv4['dropout']))
print(stats.mannwhitneyu(intvcontrol['dropout'], intv5['dropout']))
print(stats.mannwhitneyu(intvcontrol['dropout'], intv6['dropout']))

MannwhitneyuResult(statistic=23531443.5, pvalue=0.002681068706828592)
MannwhitneyuResult(statistic=24246019.5, pvalue=4.702779483324779e-08)
MannwhitneyuResult(statistic=23970319.5, pvalue=0.0008940124960408771)
MannwhitneyuResult(statistic=22345137.0, pvalue=1.077726755806836e-07)
MannwhitneyuResult(statistic=25299603.0, pvalue=0.007244302011854709)

Gender Demographics

In [12]:
final_m = final.loc[final.Geschlecht == 'm']
final_w = final.loc[final.Geschlecht == 'w']
final_d = final.loc[final.Geschlecht == 'd']

Jungen

In [13]:
intvcontrol_m = final_m[(final_m['interventiongroup']=='control')]
intv2_m = final_m[(final_m['interventiongroup']=='2')]
intv3_m = final_m[(final_m['interventiongroup']=='3')]
intv4_m = final_m[(final_m['interventiongroup']=='4')]
intv5_m = final_m[(final_m['interventiongroup']=='5')]
intv6_m = final_m[(final_m['interventiongroup']=='6')]

# Kruskal Wallis Test 
stats.kruskal(intvcontrol_m['dropout'], intv2_m['dropout'], intv3_m['dropout'],intv4_m['dropout'],intv5_m['dropout'],intv6_m['dropout'])

KruskalResult(statistic=60.37587774781564, pvalue=1.0163756250348751e-11)

In [14]:
#Wilcoxon Mann Whitney Test
print(stats.mannwhitneyu(intvcontrol_m['dropout'], intv2_m['dropout']))
print(stats.mannwhitneyu(intvcontrol_m['dropout'], intv3_m['dropout']))
print(stats.mannwhitneyu(intvcontrol_m['dropout'], intv4_m['dropout']))
print(stats.mannwhitneyu(intvcontrol_m['dropout'], intv5_m['dropout']))
print(stats.mannwhitneyu(intvcontrol_m['dropout'], intv6_m['dropout']))

MannwhitneyuResult(statistic=4196658.5, pvalue=3.0389496348966393e-05)
MannwhitneyuResult(statistic=4547389.5, pvalue=2.4178357528162563e-07)
MannwhitneyuResult(statistic=5025941.5, pvalue=1.6192913677383677e-05)
MannwhitneyuResult(statistic=4475555.0, pvalue=1.7314623258955473e-05)
MannwhitneyuResult(statistic=4919276.5, pvalue=0.3842422445461303)

Maedchen

In [15]:
intvcontrol_w = final_w[(final_w['interventiongroup']=='control')]
intv2_w = final_w[(final_w['interventiongroup']=='2')]
intv3_w = final_w[(final_w['interventiongroup']=='3')]
intv4_w = final_w[(final_w['interventiongroup']=='4')]
intv5_w = final_w[(final_w['interventiongroup']=='5')]
intv6_w = final_w[(final_w['interventiongroup']=='6')]

# Kruskal Wallis Test 
stats.kruskal(intvcontrol_w['dropout'], intv2_w['dropout'], intv3_w['dropout'],intv4_w['dropout'],intv5_w['dropout'],intv6_w['dropout'])

KruskalResult(statistic=35.584602046463864, pvalue=1.14997655771671e-06)

In [16]:
#Wilcoxon Mann Whitney Test
print(stats.mannwhitneyu(intvcontrol_w['dropout'], intv2_w['dropout']))
print(stats.mannwhitneyu(intvcontrol_w['dropout'], intv3_w['dropout']))
print(stats.mannwhitneyu(intvcontrol_w['dropout'], intv4_w['dropout']))
print(stats.mannwhitneyu(intvcontrol_w['dropout'], intv5_w['dropout']))
print(stats.mannwhitneyu(intvcontrol_w['dropout'], intv6_w['dropout']))

MannwhitneyuResult(statistic=7119537.0, pvalue=0.717789995363967)
MannwhitneyuResult(statistic=7046251.5, pvalue=0.006417697346107446)
MannwhitneyuResult(statistic=6371822.5, pvalue=0.6587170461068266)
MannwhitneyuResult(statistic=6103392.0, pvalue=0.0018728034371204474)
MannwhitneyuResult(statistic=7012622.5, pvalue=0.014339839359425764)

Divers

In [17]:
intvcontrol_d = final_d[(final_d['interventiongroup']=='control')]
intv2_d = final_d[(final_d['interventiongroup']=='2')]
intv3_d = final_d[(final_d['interventiongroup']=='3')]
intv4_d = final_d[(final_d['interventiongroup']=='4')]
intv5_d = final_d[(final_d['interventiongroup']=='5')]
intv6_d = final_d[(final_d['interventiongroup']=='6')]

# Kruskal Wallis Test 
stats.kruskal(intvcontrol_d['dropout'], intv2_d['dropout'], intv3_d['dropout'],intv4_d['dropout'],intv5_d['dropout'],intv6_d['dropout'])

KruskalResult(statistic=7.946419233772793, pvalue=0.15921339559510417)

In [18]:
#Wilcoxon Mann Whitney Test
print(stats.mannwhitneyu(intvcontrol_d['dropout'], intv2_d['dropout']))
print(stats.mannwhitneyu(intvcontrol_d['dropout'], intv3_d['dropout']))
print(stats.mannwhitneyu(intvcontrol_d['dropout'], intv4_d['dropout']))
print(stats.mannwhitneyu(intvcontrol_d['dropout'], intv5_d['dropout']))
print(stats.mannwhitneyu(intvcontrol_d['dropout'], intv6_d['dropout']))

MannwhitneyuResult(statistic=17013.0, pvalue=0.8460977529352798)
MannwhitneyuResult(statistic=18553.0, pvalue=0.7140381846764252)
MannwhitneyuResult(statistic=15473.0, pvalue=0.9965828275490989)
MannwhitneyuResult(statistic=19617.0, pvalue=0.2532145307417242)
MannwhitneyuResult(statistic=26584.0, pvalue=0.07300959801492479)

Demographics Klassenstufe

In [19]:
final_5 = final.loc[final.Klassenstufe == '5']
final_6 = final.loc[final.Klassenstufe == '6']
final_7 = final.loc[final.Klassenstufe == '7']
final_8 = final.loc[final.Klassenstufe == '8']
final_9 = final.loc[final.Klassenstufe == '9']
final_10 = final.loc[final.Klassenstufe == '10']
final_11 = final.loc[final.Klassenstufe == '11']
final_12 = final.loc[final.Klassenstufe == '12']
final_13 = final.loc[final.Klassenstufe == '13']

klassenliste = [final_5, final_6, final_7, final_8, final_9, final_10, final_11, final_12, final_13]

for x in klassenliste:
    intvcontrol = x[(x['interventiongroup']=='control')]
    intv2 = x[(x['interventiongroup']=='2')]
    intv3 = x[(x['interventiongroup']=='3')]
    intv4 = x[(x['interventiongroup']=='4')]
    intv5 = x[(x['interventiongroup']=='5')]
    intv6 = x[(x['interventiongroup']=='6')]

    # Kruskal Wallis Test 
    print(stats.kruskal(intvcontrol['dropout'], intv2['dropout'], intv3['dropout'],intv4['dropout'],intv5['dropout'],intv6['dropout']))

KruskalResult(statistic=18.047020105649946, pvalue=0.002888048958723747)
KruskalResult(statistic=27.24150368845626, pvalue=5.118545612353926e-05)
KruskalResult(statistic=9.026951382404972, pvalue=0.10799397472961592)
KruskalResult(statistic=17.681671434536923, pvalue=0.0033729914538148317)
KruskalResult(statistic=18.090968171606264, pvalue=0.0028345305444838482)
KruskalResult(statistic=19.223938066110488, pvalue=0.001745971251158842)
KruskalResult(statistic=15.066604911072474, pvalue=0.01008150446822647)
KruskalResult(statistic=17.741622052029925, pvalue=0.0032882791353490547)
KruskalResult(statistic=23.68291689695832, pvalue=0.00024978653924206)

In [20]:
klassenliste = [final_5, final_6, final_8, final_9]#, final_10, final_11, final_12, final_13]

for x in klassenliste:
    intvcontrol = x[(x['interventiongroup']=='control')]
    intv2 = x[(x['interventiongroup']=='2')]
    intv3 = x[(x['interventiongroup']=='3')]
    intv4 = x[(x['interventiongroup']=='4')]
    intv5 = x[(x['interventiongroup']=='5')]
    intv6 = x[(x['interventiongroup']=='6')]

    #Wilcoxon Mann Whitney Test
    print(stats.mannwhitneyu(intvcontrol['dropout'], intv2['dropout']))
    print(stats.mannwhitneyu(intvcontrol['dropout'], intv3['dropout']))
    print(stats.mannwhitneyu(intvcontrol['dropout'], intv4['dropout']))
    print(stats.mannwhitneyu(intvcontrol['dropout'], intv5['dropout']))
    print(stats.mannwhitneyu(intvcontrol['dropout'], intv6['dropout']))
    print('--------------')

MannwhitneyuResult(statistic=120776.0, pvalue=0.9477279720211631)
MannwhitneyuResult(statistic=110461.0, pvalue=0.2060402536965945)
MannwhitneyuResult(statistic=138237.0, pvalue=0.036196267354201006)
MannwhitneyuResult(statistic=106995.0, pvalue=0.7565631543230504)
MannwhitneyuResult(statistic=141492.0, pvalue=0.03672125043055822)
--------------
MannwhitneyuResult(statistic=320541.0, pvalue=0.0006741975640997993)
MannwhitneyuResult(statistic=323588.0, pvalue=0.023797524059538496)
MannwhitneyuResult(statistic=314492.5, pvalue=0.8976984189491259)
MannwhitneyuResult(statistic=306081.0, pvalue=0.0004233975959577583)
MannwhitneyuResult(statistic=337959.0, pvalue=0.9806600999617253)
--------------
MannwhitneyuResult(statistic=886931.0, pvalue=0.10106636614742641)
MannwhitneyuResult(statistic=967964.0, pvalue=0.0016770940203893548)
MannwhitneyuResult(statistic=1019630.0, pvalue=0.40198116856691746)
MannwhitneyuResult(statistic=772139.0, pvalue=0.2621140295676324)
MannwhitneyuResult(statistic=955155.5, pvalue=0.3509255713973938)
--------------
MannwhitneyuResult(statistic=890925.0, pvalue=0.21573072079549904)
MannwhitneyuResult(statistic=904465.5, pvalue=0.0008861863949886687)
MannwhitneyuResult(statistic=675685.5, pvalue=0.196575290508594)
MannwhitneyuResult(statistic=845116.5, pvalue=0.19453252999520798)
MannwhitneyuResult(statistic=711360.0, pvalue=0.3845944316542246)
--------------

In [21]:
klassenliste = [final_10, final_11, final_12, final_13]

for x in klassenliste:
    intvcontrol = x[(x['interventiongroup']=='control')]
    intv2 = x[(x['interventiongroup']=='2')]
    intv3 = x[(x['interventiongroup']=='3')]
    intv4 = x[(x['interventiongroup']=='4')]
    intv5 = x[(x['interventiongroup']=='5')]
    intv6 = x[(x['interventiongroup']=='6')]

    #Wilcoxon Mann Whitney Test
    print(stats.mannwhitneyu(intvcontrol['dropout'], intv2['dropout']))
    print(stats.mannwhitneyu(intvcontrol['dropout'], intv3['dropout']))
    print(stats.mannwhitneyu(intvcontrol['dropout'], intv4['dropout']))
    print(stats.mannwhitneyu(intvcontrol['dropout'], intv5['dropout']))
    print(stats.mannwhitneyu(intvcontrol['dropout'], intv6['dropout']))
    print('--------------')

MannwhitneyuResult(statistic=295128.5, pvalue=0.39361577858868135)
MannwhitneyuResult(statistic=315581.0, pvalue=0.2282904768090115)
MannwhitneyuResult(statistic=292406.5, pvalue=0.0018279679389304315)
MannwhitneyuResult(statistic=239657.5, pvalue=0.0014010572716083814)
MannwhitneyuResult(statistic=317499.5, pvalue=0.8661164967390039)
--------------
MannwhitneyuResult(statistic=199172.0, pvalue=0.6748368299492115)
MannwhitneyuResult(statistic=176761.0, pvalue=0.030271581962959437)
MannwhitneyuResult(statistic=178745.0, pvalue=0.9179417806487731)
MannwhitneyuResult(statistic=151200.0, pvalue=0.357687975320251)
MannwhitneyuResult(statistic=209476.0, pvalue=0.07765766946014183)
--------------
MannwhitneyuResult(statistic=36153.0, pvalue=0.22152625629822198)
MannwhitneyuResult(statistic=31587.0, pvalue=0.2831175743061132)
MannwhitneyuResult(statistic=31846.5, pvalue=0.8281839084608024)
MannwhitneyuResult(statistic=46420.5, pvalue=0.0015630303606468316)
MannwhitneyuResult(statistic=35268.0, pvalue=0.7950498888939945)
--------------
MannwhitneyuResult(statistic=13601.5, pvalue=0.016233443945575927)
MannwhitneyuResult(statistic=17963.0, pvalue=0.4962578293776726)
MannwhitneyuResult(statistic=17259.0, pvalue=0.7667613896238097)
MannwhitneyuResult(statistic=15009.5, pvalue=0.004278513035246473)
MannwhitneyuResult(statistic=24051.5, pvalue=0.14430721086060652)
--------------